#home
{}
#home .stat-box
{
    width:65%;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

#home .single-chart {
	width: 200px;
	margin: 24px auto;
}

#home .circle-bg {
	fill: none;
	stroke: #eee;
	stroke-width: 1.8;
}

#home .circle {
	fill: none;
	stroke-width: 3;
	stroke-linecap: round;
	stroke: #004C92;
}

#home .circle.run-animation {
	animation: progress 1s ease-out forwards;
}

#home .percentage {
  fill: #1b0101;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 0.4em;
  text-anchor: middle;
}

#home .small-text
{
    fill: #888;
    font-size: 0.2rem;
    font-family: sans-serif;
    text-anchor: middle;
    font-weight: 600;

}

@keyframes progress {
	0% {
		stroke-dasharray: 0 100;
	}
	100% {
		stroke-dasharray: 30 100;
	}
}